<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="goToConversation()">Ir a Conversation</button>
  <button ion-button (click)="goToLogin()">Ir a Login</button>

  <ion-list>
    <ion-list-header>
      <ion-label>Amigos</ion-label>
    </ion-list-header>
    <div *ngFor="let user of friends; let i = index">
      <ion-item *ngIf="user.friend">
        <p>{{ i }}. {{user.nick}} - {{user.email}}</p>
      </ion-item>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>No Agregados</ion-label>
    </ion-list-header>
    <div *ngFor="let user of friends; let i = index">
      <ion-item *ngIf="!user.friend">
        <p>{{ i }}. {{user.nick}} - {{user.email}}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
