<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Buscar..." [(ngModel)]="query"></ion-searchbar>
  <ion-list>
    <div *ngFor="let user of friends | search: query">
      <ion-item (click)="goToConversation(user)">
        <ion-icon *ngIf="user.friend" name="contact" color="primary"></ion-icon>
        <ion-icon *ngIf="!user.friend" name="person-add" color="primary"></ion-icon>
        {{user.nick}}<p item-end>{{user.status}}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
